<footer class="footer">
    <div class="footer-block buttons">
        footer column
    </div>
    <div class="footer-block author">
        <ul>
            <li>
                by
                <a href="http://nectosystems.com.br" style="text-decoration: none;">
                 Necto Systems <img src="assets/necto_color_favicon_quadrado_20x20.png" alt="Necto Systems">
                </a>
            </li>
        </ul>
    </div>
</footer>

