<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}  titulo  {% endblock title %}  </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/main.css">
        {% block extra_css %}
        {% endblock extra_css %}

        <script>
        </script>
    </head>
    <body>
        {% block header %} {% include "header/_main_header.njk" %}  {% endblock header %}
        {% block container %}
            {% block content %}

            {% endblock content %}
        {% endblock container %}
        {% block footer %}   {% endblock footer %}

        <script src="js/all.js"></script>
        <!-- <script src="js/bootstrap.min.js"></script> -->

        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>